.App {
    padding: 1em;
    border-radius: 50px;
    min-height: 80vh;
    min-height: 600px;
    font-style: italic;
    margin: 10vh auto;
    max-width: 800px;
    min-width: 485px;
    text-align: center;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.appTitle {
    font-size: 6em;
    text-shadow: 2px 2px #ff0000;
}

